<div class="wrapper_view">
  <div class="img_wrapper_view">
    <div class="img_thumb_view"><%= image_tag "products/#{@product.img_file}.jpg" %></div>
  </div>
  <h2>
    <p class="item_view"><%= @product.item %></p>
    <p class="price_view">Price</p>
    <p><%= @product.discount_price %></p>
    <p class="description_view">Description</p>
    <p><%= @product.description %></p>
    <p class="dimensions_view">Dimensions</p>
    <p>Width: <%= @product.dimension_w %></p>
    <p>Length: <%= @product.dimension_l %></p>
    <p>Height: <%= @product.dimension_h %></p>
    <%= link_to "Back to Product List", "/product/", class:"btn btn-secondary btn-lg active" %>
  </h2>
</div>
